.App {
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
}

#actions{
  background-color: darkgray;
}

#cube{
  vertical-align: bottom;
  margin: 1%;
  width: 12%;
  height: 12%;
  border-radius: 5%;
}

.buttons{
  box-shadow: 1px 1px 3px black;
}

#closeM{
  box-shadow: 1px 1px 3px black;
}

#tabla{
  background-color: turquoise;
  box-shadow: 3px 3px 8px black;
}
.App-header {
  background: linear-gradient(to bottom, black, white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  color: black;
}

#addB{
  width: 15%;
}
