.App {
  text-align: center;
}

#cube{
  vertical-align: bottom;
  margin: 1%;
  width: 15%;
  height: 15%;
  border-radius: 5%;
}

#tabla{
  background-color: burlywood;
}
.App-header {
  background-color: #1D3436;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: calc(10px + 2vmin);
  color: #6BACB2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
